<form action="<%= users_url %>" method="post">
	<h1>Sign In / Sign Up</h1>
	<label for="user_email">Email</label>
	<br>
	<input type="text" name="user[email]" id="user_email">
	<br>
	<label for="user_password">Password</label>
	<br>
	<input type="password" name="user[password]" id="user_password">
	<br>
	<input type="submit" value="Submit">
</form>
